.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}

#classDiv {
  border: 1px solid black;
  width: 125px;
  display: grid;
  justify-items: center;
  padding: 15px;
  margin: 1rem;
}

.App-header {
  background-color: #b3ccff;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
